.Button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  height: 40px;
  min-width: 120px;
  padding: 0 var(--g3);
  border: 0;
  outline: 0;
  border-radius: var(--radius);
  color: var(--text-inverted);
  background-color: var(--primary);
  transition: all .3s;

  &:hover {
    opacity: .9;
  }
}
