html {
  --primary: #0ad3ff;
  --gray: #E1FAF9;
  --text-inverted: white;
  --text: black;

  --box-shadow: 1px 1px 1px 1px rgba(0,0,0, .33);
  --radius: 20px;

  --g1: 4px;
  --g2: 8px;
  --g3: 16px;
  --g4: 24px;
  --g5: 32px;
}
