.ProgressBar {
  height: 15px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid black;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    position: relative;
    left: -100%;
    transform: translateX(var(--progress));
  }
}