.ProgressBar {
  height: 16px;
  border-radius: var(--radius);
  overflow: hidden;
  border: 1px solid black;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    position: relative;
    left: -100%;
    transition: transform .3s;
    transform: translateX(var(--progress));
  }
}