.Edit {
  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--g3);
    padding-left: var(--g5);

    &GenerateBtn {
      width: 200px;
    }
  }
}
