.ImageList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--g3);

  img {
    cursor: pointer;
    display: block;
    width: 100%;
    border-radius: 4px;

    transition: all .3s;

    &:hover {
      opacity: .9;
    }
  }

  &ImageDisabled {
    filter: grayscale(100%);
  }
}